# MySQL
MYSQL_ROOT_PASSWORD=mypass123
MYSQL_DATABASE=almg_db
MYSQL_USER=almg_user
MYSQL_PASSWORD=mypass123

# Backend / SQLAlchemy
DB_HOST=db
DB_PORT=3306
DB_NAME=almg_db
DB_USER=almg_user
DB_PASSWORD=mypass123
