# MySQL
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=almg_db
MYSQL_USER=almg_user
MYSQL_PASSWORD=your_password

# Backend / SQLAlchemy
DB_HOST=db
DB_PORT=3306
DB_NAME=almg_db
DB_USER=almg_user
DB_PASSWORD=your_password
